In [629]:
import pandas as pd

# healthoutcomes = pd.read_csv('/Users/flatironschool/Downloads/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2018_release.csv')

In [626]:
# healthoutcomes.head()

In [627]:
# healthoutcomes.columns

In [630]:
food_deserts = pd.ExcelFile('/Users/flatironschool/Flatiron_Projects/food-access/DataDownload2015.xlsx')
# LILATracts_halfAnd10

In [631]:
food_deserts.sheet_names

['Read Me', 'Variable Lookup', 'Food Access Research Atlas']

In [16]:
# vars_dict = food_deserts.parse('Variable Lookup')

In [632]:
# vars_dict.head()

In [635]:
desert_data = food_deserts.parse('Food Access Research Atlas')

In [639]:
desert_data.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [640]:
desert_data = desert_data[['CensusTract', 'LILATracts_halfAnd10']]

In [642]:
desert_data.head()

   CensusTract  LILATracts_halfAnd10
0   1001020100                     0
1   1001020200                     0
2   1001020300                     0
3   1001020400                     0
4   1001020500                     0

In [633]:
# DATA DICTIONARY FOR HEALTH OUTCOMES SHEET: 
# health_data_dict = pd.read_csv('/Users/flatironschool/Flatiron_Projects/food-access/Health_Data_Dict.csv', error_bad_lines=False)

In [634]:
# health_data_dict

In [624]:
import pandas as pd
bachelors = pd.read_csv('/Users/flatironschool/Downloads/BachelorsDegreeSubjs/ACS_15_5YR_S1502.csv', header=None)

/Users/flatironschool/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [625]:
bachelors.head()

,0,1,2,3,4,5,6,7,8,9,...,281,282,283,284,285,286,287,288,289,290
0,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,...,HC02_EST_VC27,HC02_MOE_VC27,HC03_EST_VC27,HC03_MOE_VC27,HC04_EST_VC27,HC04_MOE_VC27,HC05_EST_VC27,HC05_MOE_VC27,HC06_EST_VC27,HC06_MOE_VC27
1,Id,Id2,Geography,Total; Estimate; Total population 25 years and...,Total; Margin of Error; Total population 25 ye...,Percent; Estimate; Total population 25 years a...,Percent; Margin of Error; Total population 25 ...,Males; Estimate; Total population 25 years and...,Males; Margin of Error; Total population 25 ye...,Percent Males; Estimate; Total population 25 y...,...,Percent; Estimate; DETAILED AGE - 65 years and...,Percent; Margin of Error; DETAILED AGE - 65 ye...,Males; Estimate; DETAILED AGE - 65 years and o...,Males; Margin of Error; DETAILED AGE - 65 year...,Percent Males; Estimate; DETAILED AGE - 65 yea...,Percent Males; Margin of Error; DETAILED AGE -...,Females; Estimate; DETAILED AGE - 65 years and...,Females; Margin of Error; DETAILED AGE - 65 ye...,Percent Females; Estimate; DETAILED AGE - 65 y...,Percent Females; Margin of Error; DETAILED AGE...
2,1400000US01001020100,01001020100,"Census Tract 201, Autauga County, Alabama",342,104,NaN,NaN,180,58,NaN,...,43.1,25.2,12,12,38.7,29.4,10,11,50.0,36.7
3,1400000US01001020200,01001020200,"Census Tract 202, Autauga County, Alabama",203,67,NaN,NaN,86,33,NaN,...,22.6,32.6,7,11,31.8,44.1,0,11,0.0,95.0
4,1400000US01001020300,01001020300,"Census Tract 203, Autauga County, Alabama",432,107,NaN,NaN,207,76,NaN,...,29.5,29.3,13,20,39.4,50.0,0,11,0.0,85.9

In [522]:
headers = bachelors.iloc[1]

In [523]:
bachelors  = pd.DataFrame(bachelors.values[2:], columns=headers)

In [524]:
bachelors.head()

1,Id,Id2,Geography,Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Total; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Percent; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,...,"Percent; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others"
0,1400000US01001020100,01001020100,"Census Tract 201, Autauga County, Alabama",342,104,NaN,NaN,180,58,NaN,...,43.1,25.2,12,12,38.7,29.4,10,11,50.0,36.7
1,1400000US01001020200,01001020200,"Census Tract 202, Autauga County, Alabama",203,67,NaN,NaN,86,33,NaN,...,22.6,32.6,7,11,31.8,44.1,0,11,0.0,95.0
2,1400000US01001020300,01001020300,"Census Tract 203, Autauga County, Alabama",432,107,NaN,NaN,207,76,NaN,...,29.5,29.3,13,20,39.4,50.0,0,11,0.0,85.9
3,1400000US01001020400,01001020400,"Census Tract 204, Autauga County, Alabama",710,159,NaN,NaN,419,114,NaN,...,20.4,12.0,41,29,34.7,17.5,0,11,0.0,29.5
4,1400000US01001020500,01001020500,"Census Tract 205, Autauga County, Alabama",2991,536,NaN,NaN,1319,277,NaN,...,13.9,22.4,0,18,0.0,21.1,28,48,36.8,45.0

In [73]:
# bachelors['HC02_EST_VC01'].iloc[0]

"Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher"

In [75]:
# bachelors['HC04_EST_VC01'].iloc[0]

"Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher"

In [76]:
# bachelors['HC06_EST_VC01'].iloc[0]

"Percent Females; Estimate; Total population 25 years and over with a Bachelor's degree or higher"

In [79]:
# bachelors['HC02_EST_VC03'].iloc[0]

'Percent; Estimate; Science and Engineering Related Fields'

In [80]:
# bachelors['HC02_EST_VC04'].iloc[0]

'Percent; Estimate; Science and Engineering Related Fields'

In [83]:
# bachelors['HC02_EST_VC05'].iloc[0]

'Percent; Estimate; Business'

In [89]:
# bachelors['HC02_EST_VC06'].iloc[0]

'Percent; Estimate; Education'

In [91]:
# bachelors['HC02_EST_VC07'].iloc[0]

'Percent; Estimate; Arts, Humanities and Others'

In [525]:
bachelors = bachelors[['Id2', 'Geography', 'Percent; Estimate; Science and Engineering Related Fields', 'Percent; Estimate; Science and Engineering', 'Percent; Estimate; Business', 'Percent; Estimate; Education', 'Percent; Estimate; Arts, Humanities and Others']]

In [526]:
bachelors = bachelors.rename(columns={'Id2': 'Place_TractID'})

In [527]:
bachelors.head()

1,Place_TractID,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
0,01001020100,"Census Tract 201, Autauga County, Alabama",4.1,21.3,28.9,23.4,22.2
1,01001020200,"Census Tract 202, Autauga County, Alabama",6.9,31.5,15.8,25.6,20.2
2,01001020300,"Census Tract 203, Autauga County, Alabama",9.5,17.8,33.3,10.9,28.5
3,01001020400,"Census Tract 204, Autauga County, Alabama",15.6,21.8,19.9,19.0,23.7
4,01001020500,"Census Tract 205, Autauga County, Alabama",7.7,22.9,34.7,11.4,23.2

In [528]:
%store -r combined_data

In [529]:
combined_data.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,20.0,"(18.5, 21.7)",45.5,"(44.3, 46.5)",5.6,"( 5.1, 6.1)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0
1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,20.6,"(18.8, 22.5)",44.5,"(43.2, 45.7)",5.9,"( 5.3, 6.5)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0
1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,19.3,"(17.6, 21.4)",45.7,"(44.2, 47.0)",5.7,"( 5.1, 6.4)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0
1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,21.8,"(19.8, 24.0)",46.1,"(44.5, 47.4)",7.7,"( 6.9, 8.6)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0
1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,25.1,"(22.9, 27.6)",48.3,"(46.6, 49.7)",9.5,"( 8.4, 10.6)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0

In [530]:
combined_data.shape

(27210, 63)

In [531]:
bachelors.shape

(37508, 7)

In [532]:
combined_data['Place_TractID'] = combined_data['Place_TractID'].astype(int)

In [533]:
bachelors['Place_TractID'] = bachelors['Place_TractID'].astype(int)

In [534]:
combined_data['Place_TractID'].head()

1073000100    1073000100
1073000300    1073000300
1073000400    1073000400
1073000500    1073000500
1073000700    1073000700
Name: Place_TractID, dtype: int64

In [535]:
bachelors['Place_TractID'].head()

0    1001020100
1    1001020200
2    1001020300
3    1001020400
4    1001020500
Name: Place_TractID, dtype: int64

In [536]:
bachelors.set_index('Place_TractID', inplace=True)

In [537]:
bachelors.head()

1,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
Place_TractID,,,,,,
1001020100,"Census Tract 201, Autauga County, Alabama",4.1,21.3,28.9,23.4,22.2
1001020200,"Census Tract 202, Autauga County, Alabama",6.9,31.5,15.8,25.6,20.2
1001020300,"Census Tract 203, Autauga County, Alabama",9.5,17.8,33.3,10.9,28.5
1001020400,"Census Tract 204, Autauga County, Alabama",15.6,21.8,19.9,19.0,23.7
1001020500,"Census Tract 205, Autauga County, Alabama",7.7,22.9,34.7,11.4,23.2

In [538]:
combined = combined_data.join(bachelors)

In [539]:
combined.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5
1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0,"Census Tract 3, Jefferson County, Alabama",9.6,8.1,27.3,30.6,24.4
1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0,"Census Tract 4, Jefferson County, Alabama",0.0,12.4,18.0,36.0,33.7
1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0,"Census Tract 5, Jefferson County, Alabama",12.4,22.0,36.7,6.2,22.6
1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0,"Census Tract 7, Jefferson County, Alabama",18.8,20.8,25.7,15.8,18.8

In [461]:
combined.shape

(27210, 69)

In [232]:
# bachelors = bachelors.rename(columns={'Id2':'Place_TractID'})

In [234]:
# bachelors['Place_TractID']=bachelors['Place_TractID'].astype(str)

In [235]:
# bachelors['Place_TractID'] = [i.strip() for i in bachelors['Place_TractID']]

In [241]:
# bachelors['Place_TractID']=bachelors['Place_TractID'].astype(float)

In [243]:
# combined_data['Place_TractID'] = [i.strip() for i in combined_data['Place_TractID']]

In [100]:
# age_sex = pd.read_csv('/Users/flatironschool/Flatiron_Projects/food-access/AgeSex/AgeSex.csv', encoding = "ISO-8859-1")

In [383]:
# age_sex.shape

In [101]:
# fertility = pd.read_csv('/Users/flatironschool/Flatiron_Projects/food-access/Fertility.csv')

In [102]:
# fertility.head()

In [384]:
# fertility.shape

In [506]:
# zip_tract_mapping = pd.read_excel('/Users/flatironschool/Flatiron_Projects/food-access/TRACT_ZIP_032015.xlsx')

In [504]:
# test_2014 = pd.read_excel('/Users/flatironschool/Flatiron_Projects/food-access/TRACT_ZIP_122014.xlsx')

In [505]:
# if test_2014['ZIP'].any() == 10021:
#     print('yay')

In [507]:
# zip_tract_mapping = zip_tract_mapping[['TRACT', 'ZIP']].dropna()

In [547]:
# zip_tract_mapping['TRACT'].dtypes

In [472]:
# zip_tract_mapping['TRACT'] = zip_tract_mapping['TRACT'].astype(int)

In [546]:
# zip_tract_mapping.head()

In [514]:
# zip_tract_mapping.set_index('TRACT', inplace=True)

In [515]:
# combined = combined.join(zip_tract_mapping)

In [541]:
# combined.head()

In [482]:
# combined = combined.dropna()

In [543]:
# combined.shape

In [484]:
# combined['ZIP'] = combined['ZIP'].astype(int)

In [545]:
# combined['ZIP'].dtypes

In [542]:
# combined.head()

In [549]:
combined['StateAbbr'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [613]:
# From: https://en.wikipedia.org/wiki/List_of_regions_of_the_United_States

Northeast = ['CT', 'ME', 'MA', 'NH', 'RI', 'VT', 'NJ', 'NY', 'PA']

Midwest = ['IL', 'IN', 'MI', 'OH', 'WI', 'IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD']

South = 'DE', 'FL', 'GA', 'MD', 'NC', 'SC', 'VA', 'DC', 'WV', 'AL', 'KY', 'MS', 'TN', 'AR', 'LA', 'OK', 'TX'

West = ['AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT', 'WY', 'AK', 'CA', 'HI', 'OR', 'WA']


regions = [] 
for state in combined['StateAbbr']: 
    if state in Northeast:
        regions.append('Northeast')
    elif state in Midwest:
        regions.append('Midwest')
    elif state in West:
        regions.append('West')
    elif state in South:
        regions.append('South')
    else: 
        regions.append('NA')

In [608]:
len(combined['StateAbbr'])

27210

In [609]:
len(regions)

27210

In [614]:
combined['Regions'] = regions

In [617]:
# combined['Regions'][combined['Regions'] == 'NA'] # arkansas and tennesee aren't working

In [616]:
combined.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others",Regions
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5,South
1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0,"Census Tract 3, Jefferson County, Alabama",9.6,8.1,27.3,30.6,24.4,South
1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0,"Census Tract 4, Jefferson County, Alabama",0.0,12.4,18.0,36.0,33.7,South
1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0,"Census Tract 5, Jefferson County, Alabama",12.4,22.0,36.7,6.2,22.6,South
1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0,"Census Tract 7, Jefferson County, Alabama",18.8,20.8,25.7,15.8,18.8,South

In [618]:
# saving combined df to csv file in github repo for easier loading in future
combined.to_csv('./combined_df_csv')

In [653]:
med_data = pd.read_csv('./combined_df_csv')

/Users/flatironschool/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [654]:
med_data.head()

,Unnamed: 0,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others",Regions
0,1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",...,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5,South
1,1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",...,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0,"Census Tract 3, Jefferson County, Alabama",9.6,8.1,27.3,30.6,24.4,South
2,1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",...,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0,"Census Tract 4, Jefferson County, Alabama",0.0,12.4,18.0,36.0,33.7,South
3,1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",...,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0,"Census Tract 5, Jefferson County, Alabama",12.4,22.0,36.7,6.2,22.6,South
4,1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",...,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0,"Census Tract 7, Jefferson County, Alabama",18.8,20.8,25.7,15.8,18.8,South