In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('DataDownload2015.xlsx', sheet_name='Food Access Research Atlas')
df.head()

,CensusTract,State,County,Urban,POP2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga,1,1912,693,0,0,0.000000,0,...,221,1622,217,14,0,14,45,44,26,112
1,1001020200,Alabama,Autauga,1,2170,743,0,181,0.083410,0,...,214,888,1217,5,0,5,55,75,87,202
2,1001020300,Alabama,Autauga,1,3373,1256,0,0,0.000000,0,...,439,2576,647,17,5,11,117,87,108,120
3,1001020400,Alabama,Autauga,1,4386,1722,0,0,0.000000,0,...,904,4086,193,18,4,11,74,85,19,82
4,1001020500,Alabama,Autauga,1,10766,4082,0,181,0.016812,0,...,1126,8666,1437,296,9,48,310,355,198,488

In [4]:
df2 = pd.read_csv('500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2018_release.csv')
df2.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,AL,Birmingham,107000,1073000100,0107000-01073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",...,"(83.4, 86.6)",20.0,"(18.5, 21.7)",45.5,"(44.3, 46.5)",5.6,"( 5.1, 6.1)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)"
1,AL,Birmingham,107000,1073000300,0107000-01073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",...,"(81.9, 85.6)",20.6,"(18.8, 22.5)",44.5,"(43.2, 45.7)",5.9,"( 5.3, 6.5)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)"
2,AL,Birmingham,107000,1073000400,0107000-01073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",...,"(82.3, 86.8)",19.3,"(17.6, 21.4)",45.7,"(44.2, 47.0)",5.7,"( 5.1, 6.4)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)"
3,AL,Birmingham,107000,1073000500,0107000-01073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",...,"(82.1, 86.5)",21.8,"(19.8, 24.0)",46.1,"(44.5, 47.4)",7.7,"( 6.9, 8.6)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)"
4,AL,Birmingham,107000,1073000700,0107000-01073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",...,"(82.2, 87.1)",25.1,"(22.9, 27.6)",48.3,"(46.6, 49.7)",9.5,"( 8.4, 10.6)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)"

In [6]:
print(df.shape, df2.shape)

(72864, 147) (27210, 63)

In [ ]:
df.set_index()